<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browser Based Font Manager</title>
</head>
<body>

    <h1>Font Manager</h1>

    <p>
        <%= fonts %>
    </p>
    
</body>
</html>